<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Mark of Idle" Language="1033" Version="1.0.0.0" Manufacturer="CIO" UpgradeCode="e1fa3059-b548-4c1b-9caa-35ee25cf831f" InstallerVersion="200">
		
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Property Id="MsiLogging" Value="voicewarmup" />

		<Feature Id="ProductFeature" Title="Mark of Idle" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<CustomAction Id="RunBatchFileAction" Execute="deferred" Return="check" Impersonate="yes" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]first.bat" />
		<CustomAction Id="UninstallCustomAction" Execute="deferred" Return="check" Impersonate="yes" Directory="INSTALLFOLDER" ExeCommand="[INSTALLFOLDER]uninstall.exe" />
		<InstallExecuteSequence>
		    <Custom Action="RunBatchFileAction" After="InstallFiles" Condition="NOT REMOVE" />
			<Custom Action="UninstallCustomAction" Before="RemoveFiles" Condition="REMOVE" />
		</InstallExecuteSequence>

		
	</Package>

	<Fragment>
			<StandardDirectory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Mark_Of_Idle">
					<!-- Files will be installed here -->
					<Component Id="mark_of_idle_setup" Guid="{160A62F1-7E07-431C-B030-FB59A171B203}">
						<File Id="mark_of_idle_exe" Name="mark_of_idle.exe" Source="..\output\mark_of_idle.exe" />
						<File Id="dependency6" Name="scripts.zip" Source="..\output\scripts.zip" />
						<File Id="dependency7" Name="setup.bat" Source="..\setup.bat" />
						<File Id="dependency8" Name="first.bat" Source="..\first.bat" />
						<File Id="dependency9" Name="shortcut.vbs" Source="..\shortcut.vbs" />
						<File Id="dependency10" Name="uninstall.exe" Source="..\output\uninstall.exe" />
					</Component>
				</Directory>
			</StandardDirectory>
		</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="mark_of_idle_setup" />
		</ComponentGroup>
	</Fragment>
</Wix>
