<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Mark of Idle" Language="1033" Version="1.0.0.0" Manufacturer="CIO" UpgradeCode="e1fa3059-b548-4c1b-9caa-35ee25cf831f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Mark of Idle" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<!-- Add Custom Action to launch executable after installation -->
		<CustomAction Id="LaunchApp" Return="asyncNoWait" Execute="commit" Impersonate="no" Directory="INSTALLFOLDER" ExeCommand="cmd.exe /C start mark_of_idle.exe" />
		<InstallExecuteSequence>
			<Custom Action="LaunchApp" After="InstallFiles" />
		</InstallExecuteSequence>
		
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Mark_Of_Idle">
					<!-- Files will be installed here -->
					<Component Id="mark_od_idle_exe" Guid="{160A62F1-7E07-431C-B030-FB59A171B203}">
						<File Id="mark_of_idle_exe" Name="mark_of_idle.exe" Source="..\mark_of_idle\bin\Debug\net8.0-windows\mark_of_idle.exe" />
						<File Id="dependency1" Name="Newtonsoft.Json.dll" Source="..\mark_of_idle\bin\Debug\net8.0-windows\Newtonsoft.Json.dll" />
						<File Id="dependency2" Name="mark_of_idle.dll" Source="..\mark_of_idle\bin\Debug\net8.0-windows\mark_of_idle.dll" />
						<File Id="dependency3" Name="mark_of_idle.deps.json" Source="..\mark_of_idle\bin\Debug\net8.0-windows\mark_of_idle.deps.json" />
						<File Id="dependency4" Name="mark_of_idle.pdb" Source="..\mark_of_idle\bin\Debug\net8.0-windows\mark_of_idle.pdb" />
						<File Id="dependency5" Name="mark_of_idle.runtimeconfig.json" Source="..\mark_of_idle\bin\Debug\net8.0-windows\mark_of_idle.runtimeconfig.json" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="mark_od_idle_exe" />
		</ComponentGroup>
	</Fragment>
</Wix>
